/*  DESKTOPS  */

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: black;
    color: white;
}

div#game {
    display: grid;
    grid-template-areas: 'board table' 'input table';
    grid-template-columns: 1fr 0fr;
    grid-template-rows: 1fr 0fr;
    justify-items: center;
    align-items: start;
}

div#board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-area: board;
}

div.card {
    height: 150px;
    width: 150px;
    border: 1px solid/* white*/
    ;
    border-radius: 10px;
    margin: 5px;
    font-size: 100px;
    text-align: center;
}

textarea#input {
    border: none;
    background-color: inherit;
    color: inherit;
    grid-area: input;
    resize: none;
    height: 2em;
    text-align: center;
    cursor: default;
    outline: none;
    caret-color: rgba(0, 0, 0, 0);
}

table {
    grid-area: table;
    border-collapse: collapse;
    text-align: center;
}

div#info, div#option, div#commandes {
    display: flex;
    justify-content: space-evenly;
}

input {
    background-color: inherit;
    color: inherit;
}

button {
    background-color: inherit;
    color: inherit;
    border: 1px solid/* white*/
    ;
    outline: none;
}

/*input[type='checkbox'] {}*/

div#option input[type=number] {
    width: 2.5em;
    border: none;
}

div#option>div {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

div#output {
    text-align: center;
}

div#option>div.desktop-hidden {
    display: none;
}

div#chooseChars {
    display: grid;
    grid-template-areas: 'table1 table2' 'button button';
    grid-template-columns: 0fr 0fr;
    grid-template-rows: 0fr 0fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-gap: 0.5em 2em;
}

div#chooseChars>table:first-of-type {
    grid-area: table1;
}

div#chooseChars>table:last-of-type {
    grid-area: table2;
}

div#chooseChars>button {
    grid-area: button;
}

/*  TABLETS  */

@media only screen and (max-width: 768px) {
    div#option>div.desktop-hidden {
        display: flex;
    }
}

/*  MOBILES  */

@media only screen and (max-width: 600px) {
    div#option>div.mobile-hidden, table.mobile-hidden {
        display: none;
    }
}